#path3340 {
  fill: lightgray; }

.fa-google-plus {
  margin-left: 5px; }

.social .content-row {
  margin-top: 20px; }

.content {
  padding: 20px 30px 0px 5px; }
  .content h1, .content h3 {
    margin: 10px 0; }

.section-header-text, .section-body {
  margin-left: 10px; }

.date {
  margin-top: -15px; }

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 297mm;
  width: 210mm;
  margin: 0 auto;
  background-color: lightgray; }

#alert{
  color: red;
}

a{
  color: lightgray;
}

a:hover{
  color: #bbbb77;
}

.left-container {
  background: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 297mm;
  width: 50mm;
  color: lightgray; }
  .left-container .photo {
    height: 55mm; }
    .left-container .photo #idPhoto {
      height: 45mm;
      -webkit-border-radius: 90px;
              border-radius: 90px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      border-width: 2px;
      border-style: solid;
      border-color: lightgray; }
  .left-container .skills {
    height: 130mm;
    padding: 10px 10px 10px 20px; }
  .left-container .social {
    height: 117mm;
    padding: 10px 10px 10px 20px; }
    .left-container .social p {
      word-wrap: break-word;
      text-align: left; }

.right-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 297mm;
  width: 155mm;
  padding-left: 10px; }
  .right-container .contacts {
    height: 55mm;
    width: 160mm; }
  .right-container .about {
    height: 80mm; }
  .right-container .education {
    height: 65mm; }
  .right-container .experience {
    height: 117mm;
    width: 160mm; }

.education .underline {
  width: 143px;
  height: 2px;
  background: #333; }

.experience .underline {
  width: 158px;
  height: 2px;
  background: #333; }

.about .underline {
  width: 97px;
  height: 2px;
  background: #333; }

.social .underline {
  width: 97px;
  height: 2px;
  background: lightgray; }

.skills .underline {
  width: 90px;
  height: 2px;
  background: lightgray; }

.section-body .section-element {
  padding-top: 3px; }
  .section-body .section-element .section-element-content {
    margin-top: -10px; }

p {
  text-align: justify;
  text-justify: inter-word; }

.content-table {
  margin-top: 20px; }
  .content-table .content-row .content-left {
    width: 20px;
    height: 25px;
    text-align: right;
    display: inline-block; }
  .content-table .content-row .content-right {
    height: 25px;
    display: inline-block;
    margin-left: 5px;
    text-align: left; }
    .content-table .content-row .content-right #extend-to-wrap {
      width: 220px; }

/*  Reset Media
 */
@media (max-width: 210mm) {
  .main-container {
    width: auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .left-container {
    width: auto;
    height: auto; }
    .left-container .social, .left-container .about, .left-container .id, .left-container .photo {
      width: auto;
      height: auto; }
  .right-container {
    width: auto;
    height: auto; }
    .right-container .experience, .right-container .skills, .right-container .education, .right-container .contacts {
      width: auto;
      height: auto; } }
